<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="assets/img/logo.png" alt="logo">
            </div>
        </div>
    </div>
  </div>
  
  <!-- Preloader Start -->
  <header>
    <!-- Header Start -->
    <div class="header-area header-transparent">
            <div class="main-header  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <a href="#"><img src="assets/img/logo.png" alt=""></a> 
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
    </div>
    <!-- Header End -->
  </header>
  
  
  <main>
    <!-- slider Area Start-->
    <div class="slider-area slider-height" data-background="assets/img/bg.jpg">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider">
                <div class="slider-cap-wrapper">
                    <div class="hero__caption">
                        <p data-animation="fadeInLeft" data-delay=".2s">LoanIT - The Financial Solutions</p>
                        <h1 data-animation="fadeInLeft" data-delay=".5s">Get Prequalified Loan Offers Instantly.</h1>
                    </div>
                    <div class="hero__img">
                        <img src="assets/img/img1.png" alt="">
                    </div>
                </div>
            </div>          
        </div>
  
  
  
        <!-- slider-footer Start -->
        <div class="slider-footer section-bg d-none d-sm-block">
            <div class="footer-wrapper">
                <!-- single -->
                <div class="single-caption">
                    <div class="single-img">
                        <img src="assets/img/img2.png" alt="">
                    </div>
                </div>
                <!-- single -->
                <div class="single-caption">
                    <div class="caption-icon">
                        <span class="flaticon-clock"></span>
                    </div>
                    <div class="caption">
                        <p>Quick & Easy Loan</p>
                        <p>Offers</p>
                    </div>
                </div>
                <!-- single -->
                <div class="single-caption">
                    <div class="caption-icon">
                        <span class="flaticon-like"></span>
                    </div>
                    <div class="caption">
                        <p>Verified Lenders</p>
                    </div>
                </div>
                <!-- single -->
                <div class="single-caption">
                    <div class="caption-icon">
                        <span class="flaticon-money"></span>
                    </div>
                    <div class="caption">
                        <p>Quick & Easy Loan</p>
                        <p>Offers</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider-footer End -->
  
    </div>
    <!-- slider Area End-->